.back img {
  width: 25px;
  height: 25px;
}
.back a {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
  padding: 4px 10px;
  text-decoration: none;
  color: black;
  background-color: rgb(191, 191, 191);
  border-radius: 8px;
  width: 90px;
}
