* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 800px;
  height: 100vh;
  margin: auto;
}

.logo {
  height: 50px;
  margin-top: 20px;
  align-content: center;
}

.header {
  align-content: center;
  height: 100px;
  margin-top: 20px;
}

nav {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
nav > div {
  width: 25%;
  height: 50px;
  text-align: center;
  align-content: center;
}

.about {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
}

.box-1 {
  width: 50%;
  height: 200px;
  align-content: center;
}

.right-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-2 {
  height: 50px;
  align-content: center;
}

.box-3 {
  height: 130px;
  align-content: center;
}

.footer {
  margin-top: 20px;
  align-content: center;
  height: 100px;
}

.bg-color-gray {
  background-color: rgb(191, 191, 191);
  text-align: center;
}
