* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* body {
    background: #e7fffb;
}
 */
.parent {
  background-color: aqua;
  align-items: start;
  width: 100%;
  display: flex;
  margin-top: 20px;
}

/* .parent {
    width: 98%;
    margin: 10px auto;
    display: flex;
    gap: 10px;
} */

.child-1,
.child-2,
.child-3,
.child-4 {
  display: flex;
  flex-direction: column;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8 {
  background: #00c98b;
  border: 6px solid #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.child-1 {
  width: 24%;
}
.child-2 {
  width: 24%;
}
.child-3 {
  width: 28%;
}
.child-4 {
  width: 24%;
}

.box-1 {
  height: 240px;
}
.box-2 {
  height: 320px;
}

.box-3 {
  height: 350px;
}
.box-4 {
  height: 210px;
}

.box-5 {
  height: 130px;
}
.box-6 {
  height: 430px;
}

.box-7 {
  height: 360px;
}
.box-8 {
  height: 200px;
}
