* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  max-width: 800px;
  height: 100vh;
  margin: auto;
  text-align: center;
}
.section-1 {
  margin-top: 20px;
  background-color: #d0d0d0;
  height: 300px;
  display: flex;
  gap: 20px;
  padding: 18px;
}

.box-1 {
  width: 40%;
  background-color: #ff7676;
  color: white;
  font-size: 80px;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box-2 {
  background-color: #c2ff76;
  height: 100px;
  font-size: 60px;
  color: white;
}

.right-bottom {
  display: flex;
  gap: 20px;
}

.box-3 {
  width: 50%;
  background-color: #ff9bf7;
  height: 140px;
  font-size: 70px;
  color: white;
}

.sub-bottom {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.box-4 {
  height: 70px;
  background-color: #9ba4ff;
  font-size: 40px;
  color: white;
}

.box-5 {
  height: 70px;
  background-color: #9ba4ff;
  font-size: 40px;
  color: white;
}
